
.App {
  text-align: center;
}

$boxShadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
$mainColor: #3b5998;
$buttonColor: #03a9f4;
$transition: all 0.4s ease 0s;


html {
  background-color: #F9F9FB;
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  font-family: sans-serif;
  background-color: #F9F9FB;
  color: #333;
}


//=============App Container==============//


#root, #main {
  background-color: #F9F9FB;
  button {
    color: white;
    background-color: $buttonColor;
    border-color: $buttonColor;
    box-shadow: $boxShadow;
    &:hover {
      color: $buttonColor;
      background-color: white;
      border: 1px solid $buttonColor;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
    }
  }
}

//==============Navbar===============//


.navbar {
  box-shadow: $boxShadow;
  border-radius: 0;
  //background-color: #724290;
  .navbar-collapse ul li a {
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: $buttonColor;
      transition: $transition;
    }
  }
}

.rbLink {
  a {
    &:hover {
      color: $buttonColor;
    }
  }
}

.signoutLink {
  top: 1px;
}

.navbar-default {
  background-color: $mainColor;
  border: none;
  .navbar-brand {
    font-family: 'Play', sans-serif;
    color: white;
    font-size: 1.7em;
    &:visited {
      color: white;
    }
    &:hover {
      color: $buttonColor;
      //text-shadow: -1px -1px 26px white;
      transition: $transition;
    }
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: $buttonColor;
      //text-shadow: -1px -1px 26px white;
      transition: $transition;
    }
  }
  img {
    height: 25px;
    margin-right: 5px;
  }
}

#main {
  margin-top: 80px;
  margin-bottom: 80px;
}


//=============Components==============//


//=============Control Panel==============//


.list-group {
  box-shadow: $boxShadow;
  border-radius: 6px;
  a {
    text-decoration: none;
    color: #333;
    border-radius: 0;
  }
  span {
    border-radius: 0;
  }
}

.list-group a {
  border-radius: 0;
}

.list-group-item {
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background-color: #e7e7e7;
    //background-color: $buttonColor;
    color: #333;
  }
}

#portrait {
  cursor: default;
  padding: 30px;
  &:hover {
    background-color: white;
  }
  img {
    height: 200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
}

.panel-body {
  box-shadow: $boxShadow;
}

//.subLink {
//  border: none;
//}

.list-group-item {
  border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-radius: 0;
}

.thirdLink span, .lastLink span {
  border-top: 0;
}

.loginControlPanel {
  .panel-body {
    padding: 30px 20px 80px;
    h2 {
      margin-top: 8px;
    }
    a {
      color: $buttonColor;
    }
  }
}


//=============Forms==============//


.input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group span {
  color: red;
}

#addPost {
  height: 104px;
}


//=============User List==============//

.userList {
  box-shadow: none;
  img {
    border-radius: 3px;
  }
  .list-group-item {
    border: none;
    &:hover {
      color: #333;
      //background-color: $buttonColor;
      background-color: #e7e7e7;
    }
  }
}

.post {
  img {
    float: left;
    margin-right: 10px;
    height: 60px;
  }
  .postAuthor {
    font-size: 1.8em;
  }
  .postBody {
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
  }
  .innerPost {
    padding: 10px;
  }

}




//=============Account==============//

.account {
  .panel-body {
    .avatarContainer {
      margin: 0 auto;
      padding:  0 20px;
      img {
        height: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
      }
    }
    .passwordContainer {
      padding: 0 20px 10px;
    }
  }
}



//=============Footer==============//

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  color: #e7e7e7;
  padding: 20px;
  box-shadow: $boxShadow;
}


//=============Media Queries==============//









//=============React Transitions==============//
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
